#LockWin
{
    background-color: #0B6623;
}

#LockAttempt
{
    color : red;
    font-size: 10px;
}

QLineEdit {
    border-bottom: 1px solid lightgray;
    border-radius: 0px;
    margin: auto;
    padding: 5px 18px;
    background: transparent;
}
