#MereLockWin
{
    background-color: #0B6623;
}

#MereLockPrompt
{
    color: gray;
    font: 12pt "Sans Serif";
    font-weight: 120;
}

#MereLockPromptResult
{
    color : red;
    font-size: 10px;
}

QLineEdit {
    border-bottom: 1px solid lightgray;
    border-radius: 0px;
    margin: auto;
    padding: 5px 18px;
    background: transparent;
}
